$small: 320px;
$large: 1201px;

@mixin respond-to($media) {

  @if $media == handhelds {
    @media only screen and (max-width: $small) { @content; }
  }

  @else if $media == medium-screens {
    @media only screen and (min-width: $small + 1) and (max-width: $large - 1) { @content; }
  }

  @else if $media == wide-screens {
    @media only screen and (min-width: $large) { @content; }
  }
}

// .block {
// 	background: #ccc;
// 	@include respond-to(handhelds) {background: #f0f;}
// 	@include respond-to(medium-screens) {background: #0ff;}
// 	@include respond-to(wide-screens) {background: #00f;}
// }​