* {
	padding: 0;
	margin: 0;
	outline: none;
}

body {
	color: #000;
	font-family: $pn-l;
	background: $gray-light;
}

::selection {
	color: $green;
	background: #000;
}
::-moz-selection {
	color: $green;
	background: #000;
}
::-webkit-selection {
	color: $green;
	background: #000;
}

a {

	&[href^="http://savefrom.net/"] {display: none !important;}
}